{% extends 'base.html.twig' %}

{% block title %}Wild Circus !{% endblock %}

{% block body %}


    <div class="jumbotron jumbotron-fluid bg-dark mt-2">
        <div class="container">
            <h1 class="display-4" style="text-align: center; color: whitesmoke">Bienvenue au Wild-Circus</h1>
            <p class="lead float-right" style="color:whitesmoke"><i>"Le cirque, c'est un rond de paradis dans un monde
                    dur et dément.”</i></p>
        </div>
    </div>

    <h2 style="text-align: center"> Mais qui somme nous ?</h2>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="/images/home1.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <h2 class="display-4">Wild Circus ! Wild Circus !</h2>
                        <p>Cymbale sonne et l’on se grime.
                            Le funambule fait la « gym »
                            Pour s’échauffer, car ça commence
                            L’éléphanteau entre en sa danse
                            Et le lionceau fait révérence
                            Mais il voudrait bien une lime
                            Pour ses barreaux — terrible engeance</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="/images/homeCirque.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4"> Nous avons les meilleurs !</h2>
                        <p>Ils sont là! Le clown farceur, le clown grincheux, le clown rieur ! Nos accrobates seront
                            également la pour vous distraire.
                            La panthère, le puma, le kangourou et pleins d'autres animaux  sortent de l'ordinaire.
                            Si vous franchissez ce voile rouge, vos yeux en prendront pleins les mirettes !
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
